:root{
    --catskill-white-50:#f5f8fa;
    --catskill-white-100:#eaf0f4;
    --catskill-white-200:#d0dfe7;
    --catskill-white-300:#a7c4d2;
    --catskill-white-400:#78a4b8;
    --catskill-white-500:#5789a0;
    --catskill-white-600:#446f85;    
    --catskill-white-700:#385a6c;    
    --catskill-white-800:#314c5b; 
    --catskill-white-900:#2d414d;    
    --catskill-white-950:#1e2b33; 
}